@model SocialNetworkApp.Models.ProfileModel

<button id="homebtn">Home</button>
<button id="yrgroupsbtn">Your Groups</button>

<h2>@Model.CurrentUser.UserName<span>'s Profile</span></h2>
<br />
@if (Model.CurrentUser.ProfileDescription != null || Model.CurrentUser.ProfileDescription != "")
{
    <h4><i>@Model.CurrentUser.ProfileDescription</i></h4>
}
else
{
    <span>You have not entered any profile description.</span>
}
<br />

<div id="editdiv1">
    <button onclick="hideform(false)">Edit Description</button>
</div>
<div id="editdiv2" hidden="hidden">
    @using (Ajax.BeginForm("_ProfileChangeDescription", new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess="hideform(true)", UpdateTargetId = "mainLeft" }))
    {
        <fieldset>
            <legend>Profile</legend>
            Enter description below:
            @Html.TextBoxFor(model => model.CurrentUser.ProfileDescription, new { rows = "4", cols = "10", id = "CurrentUser_ProfileDescription", name = "CurrentUser.ProfileDescription" })
            @Html.HiddenFor(model => model.Offset)
            <input type="submit" value="Save" />
            <button onclick="hideform(true)">Cancel</button>
        </fieldset>
    }
</div>
<br />
<h3>Your posts</h3>
<table class="postviewtable">
    <tr>
        <th>Group
        </th>
        <th>Title
        </th>
        <th>Creation Date
        </th>
        <th></th>
    </tr>
    @for (int i = @Model.Offset + 1; i < @Model.Offset + 6; ++i)
    {
        <tr>
            @{var item = Model.WrittenPosts.ElementAtOrDefault(Model.WrittenPosts.Count() - i);
              if (item != null)
              {
                <td>
                    @item.Group.GroupName
                </td>
                <td>
                    @item.PostTitle
                </td>
                <td>
                    @item.CreationDate.ToShortDateString()
                    <span>at </span>
                    @item.CreationDate.ToShortTimeString()
                </td>
                <td>

                    @using (Ajax.BeginForm("_ProfileRemovePost", "SideBar", new { CurrOffset = Model.Offset }
                        , new AjaxOptions { Confirm = "Are you sure you want to delete this post?", OnSuccess = "updateMarkers()", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mainLeft" }))
                    {
                        <fieldset>
                            <legend>ViewProfile</legend>

                            @Html.Hidden("PostId" + i, @item.PostID)
                            <input type="submit" class="submitBtnAsTxt" value="Delete" />

                        </fieldset>
                    }
                </td>
              }
            }

        </tr>
    }
</table>
@using (Ajax.BeginForm("_ProfileScrollPosts", "SideBar", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "mainLeft" }))
{
    <fieldset>
        <legend>Profile</legend>

        @Html.Hidden("curroffset" + Model.Offset, Model.Offset)
        <input type="hidden" id="IncreaseOffset" name="IncreaseOffset" value="" />
        @Html.HiddenFor(model => model.Offset)
        <div style="width: 95%">
            @if (Model.Offset > 0)
            {
                <input type="submit" value="Newer Posts" style="float: left" onclick="setoffsetval(false)" />
            }
            @if (Model.Offset < Model.WrittenPosts.Count() - 5)
            {
                <input type="submit" value="Older Posts" style="float: right" onclick="setoffsetval(true)" />
            }
        </div>
    </fieldset>
}
<br />
<h3>Your Blocked Users</h3>
@if (Model.Blocks.Count() > 0)
{
    foreach (var item in Model.Blocks)
    {
    <div style="width: 95%">
        @item.UserName <span style="float: right">
            @Ajax.ActionLink("Unblock User", "_ProfileUnblockUser", "SideBar", new { BlockName = @item.UserName, CurrOffset = Model.Offset }, new AjaxOptions { HttpMethod = "Post", Confirm = "Are you sure you want to unblock this user?",OnSuccess="updateMarkers()", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mainLeft" })</span>
    </div>
    }
}
else
{
    <span>You are not currently blocking any users.</span>
}
<br />
<h3>Block A User</h3>
@using (Ajax.BeginForm("_ProfileBlockUser", "SideBar", new { CurrOffset = Model.Offset }, new AjaxOptions { Confirm = "Are you sure you want to block this user?", InsertionMode = InsertionMode.Replace, OnSuccess="updateMarkers()", UpdateTargetId = "mainLeft" }))
{
    <fieldset>
        <legend>Profile</legend>
        @Html.ValidationMessageFor(model => model.UserToBlock)
        @Html.EditorFor(model => model.UserToBlock)
        <input type="submit" value="Block" />
    </fieldset>
}

<script type="text/javascript">
    $('#yrgroupsbtn').click(function () {
        $("#mainLeft").load("@Url.Action("_ViewYourGroups", "SideBar")")
    })

    $('#homebtn').click(function () {
        $("#mainLeft").load("@Url.Action("_SideBar", "SideBar")")
    })

</script>

<script type="text/javascript">
    function setoffsetval(yesno) {
        if (yesno) {
            $('#IncreaseOffset').val("true")
        }
        else {
            $('#IncreaseOffset').val("false")
        }
    }

    function updatemap() {
        updateMarkers();
    }

    function hideform(yeshide) {
        if (yeshide) {
            $("#editdiv1").show()
            $("#editdiv2").hide()
        }
        else {
            $("#editdiv1").hide()
            $("#editdiv2").show()
        }
    }
</script>
