@model SocialNetworkApp.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
    
<fieldset>
    <legend>Post</legend>
    
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.PostTitle)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTitle)
    </div>
    <br />
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.PostContent)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostContent)
    </div>
    <br />
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.CreationDate)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
    <br />
    <div class="display-label">
        <b> @Html.DisplayNameFor(model => model.EndDate)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
    <br />
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.VisibleProximity)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisibleProximity)
    </div>
    <br />
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.LocationID)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationID)
    </div>
    <br />
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.UserID)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>
    <br />
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.GroupID)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupID)
    </div>
</fieldset>
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
